@model HomeViewModel //IEnumerable<Attachments>
@{
    ViewData["Title"] = "Home Page";
    
}

    <section id="hero">
        <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
            <h1>Welcome to Odin</h1>
            <h2>Work with your projects with ......</h2>
            <a class="btn-get-started" asp-controller="Home" asp-action="About">Get Started</a>
        </div>
    </section>
